.container {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 25em 30% auto 3em;
    background-color: #FFFFFF;
}


.row1 {
    background: #EDEBED;
    grid-row: 1;
    grid-column: 1/4;
}



.row2 {
    grid-row: 2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

.row3 {
    background: #3FB4BD;
    grid-row: 4;
    grid-column: 1/4;
    height: 100%;
    align-self: stretch;
    justify-self: stretch;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titleText {
    font-weight: 400;
    font-size: 12em;
    line-height: normal;
    color: #111111;
}

.subtitle {
    font-weight: 400;
    font-size: 2em;
    color: #444444;
}


footer {
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

footer a {

    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
}

footer a:visited {
    color: inherit;
}
