.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 2.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    z-index: 5999;
}


