.icon {
    height: 10em;
    width: 10em;
    color: #FFFFFF;
}

.grid {
    flex-wrap: wrap;
    flex-flow: row wrap;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

